
.register-form{
    padding: 20px;
}

.auth-btn{
    font-size: 12px;
    font-weight: normal;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: -webkit-linear-gradient(#77A426, #5A7814); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#77A426, #5A7814); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#77A426, #5A7814); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#77A426, #5A7814); /* Standard syntax */
}
.auth-btn:hover{
    color: #54270C;
}


.auth-field{ margin-bottom: 15px; }
.auth-field .auth-field-label{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    height: 28px;
    line-height: 28px;
}
.auth-field .mandatory {color: darkred;}
.auth-field .auth-field-label:after{ content: ":"; }
.auth-field .auth-field-controls{ display: inline-block; }

.auth-field .auth-field-controls input[type="checkbox"]{ height: 28px; }
.auth-field .auth-field-controls input[type="text"],
.auth-field .auth-field-controls input[type="password"],
.auth-field .auth-field-controls input[type="email"] {
    width: 300px;
    height: 24px;
    line-height: 24px;
}
.auth-field .auth-field-controls textarea{
    width: 300px;
    height: 46px;
}