<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/promo/img/favicon.ico" type="image/x-icon">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/promo/js/jquery.flexslider-min.js"></script>
    <link href="/static/promo/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/promo/css/flexslider.css" rel="stylesheet" type="text/css"/>
    <title>Title</title>
    <script type="text/javascript">
        $(document).ready(
            function(){
                $('.flexslider').flexslider({
                    slideshowSpeed: 5000,
                    slideshow: true,
                    directionNav: false
                });
            });
    </script>
</head>
<body>
<header id="header">
    <div class="header">
        <div class="header-logo">
            <a href="/">FLASH RABBIT</a>
        </div>
        <div class="login-form">
            {% include 'promo/partials/login.html' %}
        </div>
    </div>
    <nav class="navigation">
        <ul class="main-menu">
            <li>
                <a href="#">One</a>
            </li>
            <li>
                <a href="#">Two</a>
            </li>
            <li>
                <a href="#">Three</a>
            </li>
            <li>
                <a href="#">Four</a>
            </li>
        </ul>
    </nav>
    <div class="slide-container">
        <div class="flexslider">
            <ul class="slides">
                <li>
                  <img src="/static/promo/img/slide1.png" />
                </li>
                <li>
                  <img src="/static/promo/img/slide2.png" />
                </li>
                <li>
                  <img src="/static/promo/img/slide3.png" />
                </li>
                <li>
                  <img src="/static/promo/img/slide4.png" />
                </li>
              </ul>
        </div>
    </div>

</header>
<section id="content">
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
</section>
<footer id="footer">
    <div class="contacts">
        <div class="contact">
            <div class="contact-label">Телефон:</div>
            <div class="contact-value">+7(909)909-34-34</div>
        </div>
        <div class="contact">
            <div class="contact-label">Email:</div>
            <div class="contact-value">mail@mail.mail</div>
        </div>

    </div>
</footer>
</body>
</html>