{% extends "promo/base.html" %}
{% block content %}

	<div class="promo-blocks-section">
        <div class="promo-block">
            <h3>Lorem</h3>

            <div class="styled-block content">
                <span>Quisque at ex et nisi suscipit placerat et id ante. Fusce eu urna vehicula enim pharetra fermentum.</span>
                <a href="#">Read more...</a>
            </div>
	    </div>
		<div class="promo-block">
			<h3>Quisque</h3>

			<div class="styled-block content">
				<span>Morbi congue nisi id gravida tincidunt. Nullam rutrum vitae elit nec dignissim.</span>
				<a href="#">Read more...</a>
			</div>
		</div>
		<div class="promo-block">
			<h3>Aenean</h3>

			<div class="styled-block content">
				<span>Aliquam metus felis, ornare et tortor et, posuere porta arcu. Ut tincidunt mi in sem sodales, placerat.</span>
				<a href="#">Read more...</a>
			</div>
		</div>
		<div class="promo-block">
			<h3>Vestibulum</h3>

			<div class="styled-block content">
				<span>Vivamus molestie non magna quis mollis. Quisque hendrerit elementum sem eu tempor. Nullam at sagittis.</span>
				<a href="#">Read more...</a>
			</div>
		</div>
		<div class="cb">&nbsp;</div>
	</div>
	<div class="whats-new-section">
		<div class="column l">
            <h3>Quisque</h3>
			<div class="content-wrapper">
				Quisque at ex et nisi suscipit placerat et id ante. Fusce eu urna vehicula enim pharetra fermentum. Morbi congue nisi id gravida tincidunt. Nullam rutrum vitae elit nec dignissim. Aliquam metus felis, ornare et tortor et, posuere porta arcu. Ut tincidunt mi in sem sodales, varius malesuada dolor placerat. Vivamus molestie non magna quis mollis. Quisque hendrerit elementum sem eu tempor. Nullam at sagittis augue. Integer sed gravida odio. Nulla ut vulputate leo. Sed ac ullamcorper sem. Sed egestas, leo vitae tempus bibendum, nulla est posuere urna, a tristique nibh massa sit amet sapien. Duis sit amet est vel nisi varius hendrerit eu vitae mauris. Quisque hendrerit nunc mollis nisl tincidunt maximus.
			</div>
		</div>
		<div class="column r">
            <h3>Aenean</h3>
			<div class="content-wrapper">
				Aenean ullamcorper sit amet ligula ac blandit. Nulla sit amet purus vehicula, dignissim nunc vel, vehicula neque. Vestibulum lobortis ipsum nec felis pretium bibendum. Aliquam magna elit, scelerisque vitae nunc a, tincidunt pharetra libero. Nulla luctus magna non ligula semper dapibus. In commodo, mi non faucibus tincidunt, mi sapien tristique libero, ac hendrerit purus arcu tincidunt purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam finibus quam ipsum, at luctus est eleifend sit amet.
			</div>
		</div>
		<div class="cb">&nbsp;</div>
	</div>
{% endblock %}