
{% if request.user %}

<form method="post" action="/logout">
    <div class="login-fields-container">
        {{ form.csrf_token }}
        <div class="login-field"><a href="/presentation"><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></a></div>
        <div class="login-field">
            <input type="submit" value="logout" class="auth-btn" />
        </div>
        <input type="hidden" name="next" value="/" />
    </div>
</form>
{% else %}
<form method="post" action="/login">

{% if form.out_errors %}
    {% for error in  form.out_errors %}
        <div class="common-error">{{ error }}</div>
    {% endfor %}
{% endif %}
<div class="login-fields-container">
    {{ form.csrf_token }}
    <div class="login-field">
        <div class="auth-field-controls">
            {{ form.login(placeholder=_('login')) }}
            {% for error in form.login.errors %}
                <span class="auth-field-help-block">
                    {{ error }}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="login-field">
        <div class="auth-field-controls">
            {{ form.password(placeholder=_('password')) }}
            {% for error in form.password.errors %}
                <span class="auth-field-help-block">
                    {{ error }}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="login-field">
        <input type="submit" class="auth-btn" value="login" />
    </div>
    <input type="hidden" name="next" value="/presentation" />
</div>
</form>
{% endif %}
