<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ _('Registration') }}</title>

</head>
<body>
    <h2>{{ _('Зарегистрировался! ') }} {{ user_name }}</h2>
    <p>{{ _('Мы должны знать что ты - это ты') }}</p>
    <a href="{{ approval_link }}">{{ _('Вот тебе ссылка, жмякай и пользуйся') }}</a>
    <p>{{ _('Не поленись нажми  в ближайшие 2 часа, а то все... ') }}</p>
</body>
</html>