*{margin: 0; padding: 0;}
html {min-width: 1024px;}

body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #EEE;
}

ul{list-style: none;}
a{text-decoration: none; color:#0060AC;}

.fl{float: left;}
.cb{clear: both; line-height: 0; font-size: 0;}

.header, nav ul, .flexslider, footer, .content-container{
    margin: 0 auto;
    max-width: 1225px;
    width: 100%;
}

/*---header*/
.header{
    height: 100px;

}
.header-logo{
    float: left;
    width: 60%;
}
.header-logo a{
    font-size: 38px;
    font-weight: bold;
}
.login-form{
    padding: 25px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
.main-menu li{
    width: 24%;
    padding-right: 5px;
    text-align: center;
}
.navigation{
    margin-bottom: 20px;
}

.slide-container{
    margin-bottom: 20px;
}


/*---login form*/
.login-fields-container .login-field{
    display: inline-block;
}

.login-field{ margin-bottom: 15px; }


.login-field .auth-field-controls input[type="text"],
.login-field .auth-field-controls input[type="password"]
{
    width: 100px;
    height: 21px;
    line-height: 21px;
    border: thin solid #0060AC;
}
.auth-btn{
    width: 100px;
    height: 26px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    /*background: -webkit-linear-gradient(#77A426, #5A7814); !* For Safari 5.1 to 6.0 *!
    background: -o-linear-gradient(#77A426, #5A7814); !* For Opera 11.1 to 12.0 *!
    background: -moz-linear-gradient(#77A426, #5A7814); !* For Firefox 3.6 to 15 *!
    background: linear-gradient(#77A426, #5A7814); !* Standard syntax *!*/
    background-color: #0060AC;

}
.auth-btn:hover{
    color: #54270C;
}

/*---footer*/
.contacts{
    color:#0060AC;
    display: inline-block;
    width: 20%;
    margin-left: 80%;
}

.contact div{
    display: inline-block;}

.contact .contact-label{
    width: 70px;
}

/*---content*/

.content-container{
    margin-bottom: 20px;
}

/*---promo*/

.promo-blocks-section{margin-bottom: 20px;}
.promo-block{float: left; width: 24%;margin-left: 1%; }
.promo-block h3{ background-color: #0060AC;
    color: #FFF; padding: 10px; margin-bottom: 5px;
    border: solid 1px #0060AC; border-radius: 5px 5px 0 0;}
.promo-block .content{padding: 10px; border:solid 1px #e0e0e0; text-align: right}
.promo-block .content span{display: block; min-height: 80px;text-align: left;}
.promo-block .content a{display: inline-block; padding: 5px; background-color:#313131; border: solid 1px #0c0c0c; color: #FFF; }

.column{width: 50%;}
.column .content-wrapper{padding: 10px;}

.column.r{float: right;}
.column.l{float: left;}