<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/auth/auth_styles.css" rel="stylesheet" type="text/css" media="screen" />
    <title>Title</title>
</head>
<body>
    <h1>{{ _('Account approval') }}</h1>
    <p>{{ approval_msg }}</p>
</body>
</html>