{% import 'auth/macros.html' as auth_macro %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/auth/auth_styles.css" rel="stylesheet" type="text/css" media="screen" />
    <title></title>
</head>
<body>

<div>
    {% if request.user %}
        <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
        <form method="post" action="/logout">
            {{ form.csrf_token }}
            <input type="submit" value="logout" />
            <input type="hidden" name="next" value="/login" />
        </form>
    {% else %}
    <form method="post" action="/login">
        {% if form.out_errors %}
            {% for error in  form.out_errors %}
                <div class="common-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.csrf_token }}
        {{ auth_macro.auth_input(form.login, placeholder_value=_('email or phone')) }}
        {{ auth_macro.auth_input(form.password) }}
        <input type="submit" class="auth-btn" value="login" />
        <input type="hidden" name="next" value="/" />
    </form>
    {% endif %}
</div>
</body>
</html>