{% macro auth_input(field, placeholder_value='') %}
    <div class="auth-field">
        {{ field.label(class="auth-field-label") }}
        <div class="auth-field-controls">
            {{ field(placeholder=placeholder_value) }}
            {% if field.flags.required %}
            <span class="mandatory">*</span>
            {% endif %}
            {% for error in field.errors %}
                <span class="auth-field-help-block">
                    {{ error }}
                </span>
            {% endfor %}
            {% if field.description %}
                <span class='auth-field-help-block'>
                    {{ field.description }}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}