{% import 'auth/macros.html' as auth_macro %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/auth/auth_styles.css" rel="stylesheet" type="text/css" media="screen" />
    <title></title>
    <script>
        document.addEventListener('DOMContentLoaded', onReady);

        function onReady() {
            var tz = document.getElementById('timezone');
            var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            if (tz && timezone)
                tz.value = timezone;
        }
    </script>
</head>
<body>
<form method="POST" action="">
    {{ form.csrf_token }}
    <div id="cluser-form" class="register-form">
        {{ auth_macro.auth_input(form.email, placeholder_value='ivanov@mail.mail') }}
        {{ auth_macro.auth_input(form.phone, placeholder_value='+7(900)000-00-00') }}
        {{ auth_macro.auth_input(form.first_name, placeholder_value=_('Ivan')) }}
        {{ auth_macro.auth_input(form.last_name, placeholder_value=_('Ivanov')) }}
        {{ auth_macro.auth_input(form.timezone) }}
        {{ auth_macro.auth_input(form.password) }}
    <input class="auth-btn" type="submit">

    </div>

</form>
</body>
</html>